<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i|Proza+Libre:400,400i,700,700i|Ubuntu+Mono:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/kbb3nhb.css">
  <link rel="stylesheet" href="/style.css" />
  {% feed_meta %}
  {% seo %}
  <link rel="icon" href="/icon.png">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="mask-icon" href="/logo.svg">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W999H48Z7X"></script>
{% if page.breadcrumbs %}{% assign crumbs = page.url | remove: '/index.html' | split: '/' %}
  <script type="application/ld+json">
  { "@context": "https://schema.org", "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem", "position": 1,
      "name": "Cogitorium",
      "item": "{{ site.url }}"
  {% for crumb in crumbs offset: 1 %}
    },{
      "@type": "ListItem", "position": {{ forloop.index | plus: 1 }},
      "name": "{% if forloop.last %}{{ page.title }}{% else %}{{ site.data.sections[crumb].name | default: crumb | capitalize }}{% endif %}",
      "item": "{{ site.url }}{% assign crumb_limit = forloop.index %}{% for crumb in crumbs offset: 1 limit: crumb_limit %}/{{ crumb }}{% endfor %}"
  {% endfor %}
    }]
  }
  </script>
{% endif %}
</head>
<body><div class="container">

<header>
<div class="header-row-above">
  <div class="print-qr-code"></div>
  <div class="shareBtns"><ul>
    <li><svg class="svg-icon" role="img" aria-label="Share this page via:"><use href="/icons.svg#share"/></svg></li>
    <li><a href="https://twitter.com/intent/tweet?text={{ page.title | uri_excape }}&url={{ page.url | absolute_url }}&via=mjculb" onclick="gtag('event', 'share', { 'event_category' : 'Twitter', 'event_label' : '{{ page_url | absolute_url }}', 'transport_type' : 'beacon'});"><svg class="svg-icon" role="button" aria-label="Twitter"><use href="/icons.svg#twitter"/></svg></a></li>
    <li><a href="https://facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" onclick="gtag('event', 'share', { 'event_category' : 'Facebook', 'event_label' : '{{ page_url | absolute_url }}', 'transport_type' : 'beacon'});"><svg class="svg-icon" role="button" aria-label="Facebook"><use href="/icons.svg#facebook"/></svg></a></li>
    <li><a href="https://reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title | uri_escape }}" onclick="gtag('event', 'share', { 'event_category' : 'Reddit', 'event_label' : '{{ page_url | absolute_url }}', 'transport_type' : 'beacon'});"><svg class="svg-icon" role="button" aria-label="Reddit"><use href="/icons.svg#reddit"/></svg></a></li>
    <li><a href="mailto:?subject={{ page.title | uri_escape }}&body={{ page.url | absolute_url }}" onclick="gtag('event', 'share', { 'event_category' : 'Email', 'event_label' : '{{ page_url | absolute_url }}', 'transport_type' : 'beacon'});"><svg class="svg-icon" role="button" aria-label="Email"><use href="/icons.svg#email"/></svg></a></li>
    <li><a href="javascript:window.print()" onclick="gtag('event', 'print', { 'event_label' : '{{ page_url | absolute_url }}', 'transport_type' : 'beacon'});"><svg class="svg-icon" role="button" aria-label="Print"><use href="/icons.svg#print"/></svg></a></li>
  </ul></div>
  <div class="pagetitle">{{ page.title }}</div>
</div>
<div class="header-row-below">
{% if page.breadcrumbs %}
<div class="breadcrumbs"><nav aria-label="Breadcrumbs">
  <a href="/">Cogitorium</a>
  {% for crumb in crumbs offset: 1 %}{% unless forloop.last %}
  &gt; <a href="{% assign crumb_limit = forloop.index %}{% for crumb in crumbs offset: 1 limit: crumb_limit %}/{{ crumb }}{% endfor %}">{{ site.data.sections[crumb].name | default: crumb | capitalize }}</a>
  {% endunless %}{% endfor %}
</nav></div>
{% else %}
  <div class="postdate">{{ page.date | date: "%A, %B %e, %Y" }}</div>
  <div class="site-nav"><nav aria-label="Site Navigation"><ul>
    {% if page.category %}<li><a href="/siteindex/{{ page.category | remove: ' ' }}">{{ page.category | capitalize }}</a></li>{% endif %}
    {% if page.previous %}<li><a href="{{ page.previous.url }}" aria-label="Previous Post">Prev.</a></li>{% endif %}
    {% if page.next %}<li><a href="{{ page.next.url }}"" aria-label="Next Post">Next</a></li>{% endif %}
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/siteindex">Index</a></li>
    </ul></nav></div>
</div>
{% endif %}
</header>

<main>
{% if page.toc %}{% capture TOC %}{% include toc.html html=content %}{% endcapture %}
{% assign TOC = TOC | strip %}{% unless TOC == "" %}
<div class="toc"><nav aria-label="Page Table of Contents">
{{ TOC }}
</nav></div>
{% endunless %}{% endif %}

{% if page.noanchor %}{{ content }}{% else %}{% include anchor_headings.html html=content anchorBody='<svg height="18px" width="18px" aria-label="(link to heading)"><use href="/icons.svg#link"/></svg>' anchorClass="anchor" %}{% endif %}
</main>

<footer>
<div class="revision"></div>
</footer>

</div>
<script>
//<![CDATA[
{% if jekyll.environment == 'production' %}
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-W999H48Z7X');
{% endif %}
{% if site.github.repository_nwo %}{% unless page.norevision %}
fetch("https://api.github.com/repos/{{ site.github.repository_nwo }}/commits?path={{ page.path }}&page=1&per_page=2")
  .then((response) => { return response.json(); })
  .then((json) => {
    if (json.length > 1) {
      var d = new Date(json[0].commit.author.date);
      document.querySelector("div.revision").innerHTML = "Revised " +
        d.toLocaleDateString() + " (" + d.toLocaleTimeString() + "): " +
        json[0].commit.message + " (<a href='{{ site.github.repository_url }}/commits/main/{{ page.path }}'>history</a>)";
    } });
{% endunless %}{% endif %}
window.onbeforeprint = function(e) { document.querySelector('div.print-qr-code').innerHTML = "<img src='https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl={{ page.url | absolute_url }}'/>"; };
//]]>
</script>
</body>
</html>
